// ### Primary
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

// ### Neutral
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$fade-in: hsla(236, 13%, 42%,0.7);
$dark-blue: hsl(240, 100%, 5%);

$regular: 400;
$bold: 700;
$extra-bold: 800;